@import url('../../../App.css');

.p-btn, .s-btn {
    background-color: var(--background-btn);
    color: var(--color-white);
}
.p-btn {
    border-radius: 20px;
}
.s-btn {
    border-radius: 10px;
}
.p-btn:hover, .s-btn:hover {
    background-color: var(--background-btn-hover);
    color: var(--color-white);
}
.t-btn {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius:30px;
}
.t-btn:hover {
    background-color: var(--background-btn-active);
}
