@import url('../../../App.css');
.search-bar-container {
    background: url("../../images/Background/bd-search.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
}
.search-bar-container::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, transparent, var(--background));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}