@import url('../../../App.css');

header{
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 0.8em;
    background: linear-gradient(to bottom, var(--background-header-desktop), transparent);
}
.from-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
select.form-select:focus,
select.form-select:focus-visible {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important; 
}
.search-overlay {
  backdrop-filter: blur(5px);
}

.search-container {
  margin-top: 60px;
}  
.nav-link-mobile {
    display: flex;
    flex-direction: column ; 
    border: 1px solid red;
    align-items: center;}

@media(width < 768px) {
    header {
        border: 1px solid red;
        top:85%;
        border-radius: 20px;
        z-index: 1000;
        margin: 3px;
        height: 88px;
        width: 100%;
        background: var(--background-header-mobile);
       
    }
}

