.logout::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, var(--background) 130%);
}
video.object-fit-cover {
  object-fit: cover;
}
