@import url('../../../../../App.css');
.menu {
  align-items: center;
  flex-direction: column;
}
.menu li.act {
  background-color: rgba(212, 16, 16, 0.149);
  border-left: 4px solid #ff0e0e;
  border-radius: 5px;
  text-align: start;
  width: 100%;
}
.menu li.act a {
  color: var(--color-red);
}

.sidebar:hover .menu {
  align-items: start;
  padding: 0 3.5rem;
}
.menu li a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease;
}
.link {
  color: var(--color-dark);
}
.desactivated {
  display: none;
}

.sidebar:hover .desactivated {
  display: flex;
}
.sidebar:hover .activation {
  display: none;
}

.sidebar {
  width: 120px;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 360px;
}
