@import url('../../../App.css');
.container-reset {
  background-color: #f8f9fa;
  height: 100vh;
}
.card-reset {
  height: 100%;
}

@media (width<768px) {
  .container-reset {
    position: fixed;
    top: 0;
  }
  .card-reset {
    height: 60%;
    overflow-y: scroll;
  }
  .card-success {
    position: absolute;
    top: 120px;
  }
}
